/tags
/Haskell/.stack-work/
/Haskell/quartic_tests
/Haskell/stack.yaml
/Haskell/stack.yaml.lock
*.cabal
/C/quartic
/C/quartic_real
/C/quartic_tests
/C/CMakeCache.txt
/C/CMakeFiles
/C/MakeFile
/C/build
/C/cmake_install.cmake
/Python/.hypothesis/
/Python/__pycache__/
*.o
*.hi
.vscode
